<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Document</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .menu {
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 200px;
        padding: 10px;
        margin-bottom: 5px;
        cursor: pointer;
      }

      .text {
        text-decoration: none;
      }
    </style>
  </head>
  <body>
    <div class="menu"><a href="/customers" class="text">Customers</a></div>
    <div class="menu"><a href="/products" class="text">Products</a></div>
    <div class="menu">
      <a href="/transactions" class="text">Transactions</a>
    </div>
  </body>
</html>
