<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Payment Confirmation Form</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
      .borderNone {
        border: none;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h2>Payment Confirmation</h2>
      <form
        class="form-horizontal"
        method="POST"
        action="/customers/:id/pay-transaction"
      >
        <div class="form-group">
          <input type="hidden" name="CustomerId" value="<%= customerId %>" />
          <input
            type="hidden"
            name="TransactionId"
            value="<%= transactionId %>"
          />
          <label class="control-label col-sm-2" for="email"
            >Proof Payment (Picture):</label
          >
          <div class="col-sm-10">
            <input
              type="text"
              class="form-control"
              placeholder="Enter image url"
              name="proof"
              value="<%= payment.proof %>"
            />
          </div>
        </div>

        <div class="form-group">
          <div class="control-label col-sm-2" for="email">
            <a href="/customers/<%= customerId %>/show-transactions"
              ><button type="button" class="mx btn btn-primary">Back</button></a
            >
          </div>
          <div class="col-sm-10">
            <div class="form-control borderNone">
              <button type="submit" class="mx btn btn-success">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </body>
</html>
